body {
    font-family: Aerial, Verdana;
    background-color: #d2d2d2;  
    text-align:center;
}
    .row1-col1{
        height: 425px;
        margin-top:20px;
        background-position:center center;
        /*image*/
    }
    .row1-col2{
        height: 425px;
        background-position:center center;
       /*image*/
    }

    .row2-col1{
        height: 345px;
        text-align:left;
        padding:60px;
        background-color:white;

    }
    .row2-col2{
        height: 345px;
        background-position:center center;
        margin-top:0px;
        /*image*/
    }
    .row2-col3{
        height:345px;
       /*image*/
       background-position: center center;
       margin-top:0px;
    }
    .row2-col4{
        height:345px;
        /*image*/
        background-position:center center;
        margin-top:0px;
    }
    .row3-Col1{
        height:345px;
        /*image*/
        background-position:center center;
        margin-top: 0px;
    }
    .row3-col2{
        height:345px;
        text-align:left;
        background-color:white;
        padding:60px;
    }
    .row3-col3{
        height:345px;
        /*image*/
        background-position:center center;
        margin-top:0px;
    }
    .row3-col4{
        height:345px;
        text-align:left;
        background-color:white;
        padding:60px;
    }
      .row4-Col1{
        height:345px;
        /*image*/
        background-position:center center;
        margin-top: 0px;
    }
    .row4-col2{
        height:345px;
        text-align:left;
        background-color:white;
        padding:60px;
    }
    .row4-col3{
        height:345px;
        /*image*/
        background-position:center center;
        margin-top:0px;
    }
    .row4-col4{
        height:345px;
        text-align:left;
        background-color:white;
        padding:60px;
    }
    .logo{
        background-color:beige;
    }
    .logo h2{
        font-family:cursive;
        height: 200px;
        text-align: center;
        
    }